.container {
  margin: 10px;
  position: relative;
}
.container:nth-child(n){
  flex: 1 1 30%;
}

.container:nth-child(6n+1){
  flex: 1 1 100%;
}

.postItem{
  height: 100%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 0 0 10px rgb(200, 200, 200);
  cursor: pointer;
}
.postItem:hover{
  box-shadow: 0 0 10px rgb(170, 170, 170);
}
.img {
  flex: 1 1 40%;
  padding: 10px;
  cursor: pointer;
}
.post {
  flex: 1 0 50%;
  min-width: 400px;
  padding: 10px
}
.title {
  margin: 0;
}
.deletPost {
  position: absolute;
  right: 0;
  top: 0;
}
.deletPost:hover{
  box-shadow: 0 0 5px red;
}