.container {
  margin: 20px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img {
  flex: 1 1 50%;
  min-width: 400px;
  padding: 10px
}
.post {
  flex: 1 0 50%;
  min-width: 400px;
  padding: 10px
}
.title {
  margin: 0;
}
